html{
    --degrees:100deg
}



body{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1540' height='700' preserveAspectRatio='none' viewBox='0 0 1540 700'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1040%26quot%3b)' fill='none'%3e%3crect width='1540' height='700' x='0' y='0' fill='rgba(234%2c 234%2c 234%2c 1)'%3e%3c/rect%3e%3cpath d='M418.092%2c252.322C453.196%2c254.982%2c491.405%2c246.109%2c509.71%2c216.037C528.57%2c185.053%2c521.614%2c145.195%2c501.794%2c114.816C483.751%2c87.161%2c451.108%2c75.046%2c418.092%2c75.612C386.174%2c76.159%2c354.583%2c89.621%2c339.219%2c117.604C324.332%2c144.718%2c332.102%2c177.071%2c347.73%2c203.765C363.162%2c230.123%2c387.636%2c250.015%2c418.092%2c252.322' fill='rgba(173%2c 185%2c 193%2c 0.68)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M961.91%2c544.535C1025.283%2c544.864%2c1077.505%2c502.057%2c1110.826%2c448.15C1146.332%2c390.709%2c1169.221%2c320.425%2c1137.18%2c260.981C1103.85%2c199.146%2c1032.142%2c173.27%2c961.91%2c171.874C888.739%2c170.42%2c808.536%2c189.166%2c774.145%2c253.767C741.027%2c315.977%2c777.418%2c387.411%2c815.65%2c446.616C849.763%2c499.442%2c899.028%2c544.208%2c961.91%2c544.535' fill='rgba(173%2c 185%2c 193%2c 0.68)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M478.592%2c96.254C499.606%2c97.789%2c519.699%2c86.029%2c530.241%2c67.786C540.789%2c49.532%2c540.488%2c26.549%2c529.133%2c8.786C518.541%2c-7.783%2c498.255%2c-13.273%2c478.592%2c-13.012C459.475%2c-12.758%2c439.413%2c-6.722%2c430.323%2c10.098C421.55%2c26.331%2c429.524%2c44.991%2c438.543%2c61.089C447.85%2c77.701%2c459.602%2c94.867%2c478.592%2c96.254' fill='rgba(173%2c 185%2c 193%2c 0.68)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1110.02%2c90.352C1139.824%2c90.038%2c1168.448%2c74.935%2c1182.181%2c48.481C1195.035%2c23.721%2c1184.671%2c-4.106%2c1171.943%2c-28.932C1157.506%2c-57.093%2c1141.665%2c-92.07%2c1110.02%2c-92.27C1078.23%2c-92.471%2c1061.524%2c-57.861%2c1046.726%2c-29.724C1033.325%2c-4.244%2c1021.758%2c24.56%2c1035.182%2c50.027C1049.345%2c76.895%2c1079.65%2c90.671%2c1110.02%2c90.352' fill='rgba(173%2c 185%2c 193%2c 0.68)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M933.669%2c662.405C989.662%2c665.094%2c1053.787%2c663.557%2c1083.58%2c616.072C1114.56%2c566.695%2c1092.712%2c504.997%2c1064.397%2c454.045C1034.999%2c401.144%2c994.183%2c345.407%2c933.669%2c346.311C874.054%2c347.202%2c835.974%2c404.413%2c809.535%2c457.852C786.57%2c504.269%2c779.913%2c558.507%2c806.78%2c602.78C832.765%2c645.6%2c883.639%2c660.002%2c933.669%2c662.405' fill='rgba(173%2c 185%2c 193%2c 0.68)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M131.513%2c217.257C155.002%2c217.667%2c178.147%2c208.864%2c190.978%2c189.184C205.073%2c167.566%2c209.916%2c139.384%2c196.761%2c117.181C183.805%2c95.313%2c156.921%2c88.111%2c131.513%2c88.819C107.496%2c89.488%2c84.157%2c99.768%2c72.272%2c120.649C60.502%2c141.329%2c63.096%2c166.886%2c75.535%2c187.171C87.404%2c206.527%2c108.811%2c216.861%2c131.513%2c217.257' fill='rgba(173%2c 185%2c 193%2c 0.68)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M61.815%2c235.116C108.655%2c235.314%2c155.761%2c215.919%2c178.235%2c174.823C199.984%2c135.051%2c184.359%2c89.132%2c163.715%2c48.775C140.309%2c3.018%2c113.17%2c-50.712%2c61.815%2c-52.771C8.483%2c-54.91%2c-31.19%2c-7.627%2c-55.298%2c39.993C-76.901%2c82.664%2c-77.525%2c132.836%2c-52.912%2c173.845C-28.999%2c213.687%2c15.348%2c234.919%2c61.815%2c235.116' fill='rgba(173%2c 185%2c 193%2c 0.68)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1233.198%2c607.65C1266.098%2c607.022%2c1296.42%2c591.087%2c1313.857%2c563.181C1332.467%2c533.398%2c1339.992%2c495.504%2c1322.186%2c465.234C1304.574%2c435.293%2c1267.935%2c426.069%2c1233.198%2c426.056C1198.431%2c426.042%2c1162.285%2c435.54%2c1144.089%2c465.165C1125.158%2c495.987%2c1127.839%2c535.7%2c1147.018%2c566.368C1165.12%2c595.313%2c1199.065%2c608.302%2c1233.198%2c607.65' fill='rgba(173%2c 185%2c 193%2c 0.68)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M498.057%2c788.74C564.338%2c792.139%2c634.308%2c777.427%2c671.63%2c722.547C713.454%2c661.047%2c724.251%2c577.545%2c684.381%2c514.761C646.553%2c455.191%2c568.393%2c443.521%2c498.057%2c449.216C438.255%2c454.058%2c387.092%2c488.992%2c357.569%2c541.224C328.555%2c592.556%2c323.697%2c654.917%2c352.803%2c706.197C382.266%2c758.106%2c438.447%2c785.683%2c498.057%2c788.74' fill='rgba(173%2c 185%2c 193%2c 0.68)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M341.48%2c579.362C381.866%2c580.06%2c420.665%2c559.037%2c439.732%2c523.428C457.894%2c489.509%2c449.3%2c448.848%2c428.799%2c416.289C409.748%2c386.033%2c377.179%2c369.375%2c341.48%2c367.39C301.317%2c365.157%2c256.395%2c371.142%2c235.551%2c405.545C214.194%2c440.796%2c227.489%2c484.936%2c248.938%2c520.131C269.366%2c553.651%2c302.232%2c578.684%2c341.48%2c579.362' fill='rgba(173%2c 185%2c 193%2c 0.68)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M895.542%2c166.776C922.305%2c165.995%2c944.984%2c148.435%2c957.661%2c124.853C969.653%2c102.546%2c967.882%2c76.44%2c956.179%2c53.98C943.376%2c29.409%2c923.231%2c6.603%2c895.542%2c5.636C866.522%2c4.623%2c841.262%2c24.123%2c827.1%2c49.474C813.301%2c74.175%2c812.553%2c104.232%2c826.812%2c128.67C840.961%2c152.92%2c867.478%2c167.595%2c895.542%2c166.776' fill='rgba(173%2c 185%2c 193%2c 0.68)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-47.641%2c45.986C-26.317%2c45.405%2c-5.945%2c35.907%2c4.833%2c17.498C15.721%2c-1.098%2c14.767%2c-23.951%2c4.35%2c-42.815C-6.446%2c-62.366%2c-25.319%2c-78.252%2c-47.641%2c-77.528C-69.053%2c-76.834%2c-83.24%2c-58.086%2c-94.103%2c-39.622C-105.183%2c-20.79%2c-115.737%2c1.296%2c-105.315%2c20.5C-94.57%2c40.299%2c-70.16%2c46.6%2c-47.641%2c45.986' fill='rgba(173%2c 185%2c 193%2c 0.68)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1127.719%2c314.634C1146.475%2c314.545%2c1161.207%2c300.681%2c1170.716%2c284.514C1180.391%2c268.066%2c1185.749%2c248.212%2c1176.656%2c231.436C1167.202%2c213.992%2c1147.527%2c204.045%2c1127.719%2c205.183C1109.566%2c206.226%2c1096.377%2c220.603%2c1087.637%2c236.548C1079.305%2c251.747%2c1076.091%2c269.508%2c1084.006%2c284.928C1092.629%2c301.726%2c1108.837%2c314.724%2c1127.719%2c314.634' fill='rgba(173%2c 185%2c 193%2c 0.68)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1040'%3e%3crect width='1540' height='700' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    flex-flow: row;
    box-sizing: border-box;
    margin: 50px;
    background-color: #1B203E;
    box-shadow: 8px 16px 8px 4px gray;
    height: 100vh;

  
    ;
}
.container-lift{
    width: 20%;
    height: 97.8vh;
    background-color: #272B4A;
}
.logo{
    font-size: 40px;
    color: aliceblue;
    margin-left:20px ;
}
.child{
    margin-top: 50px;
    margin-left:20px ;
    color:gray;
    font-size: 18px;
}


.container-right{
    width: 80%;
    height: 97.8vh;
    
}

.div-nav{
    background-color: #1B203E;
    height: 90px;
    width: 100%;
    

}
.div-nav p{
    padding-top: 20px;
    margin-left:20px ;
    font-size: 23px;
    color: white;
   
}

.header-container{
    background-color: #1B203E;
    margin-top: 80px;
    height: 120px;
    display: flex;
    flex-flow: row;
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
}


.H-child{
    background-color: #272B4A;
    padding-top: 20px;
    width: 2000px;
}

.main-container{
    background-color: #1B203E;
    margin-top: 80px;
    display: flex;
    flex-flow: row;
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 49vh;
    
}
.child-m1{
    background-color: #272B4A;
    padding-top: 20px;
    width: 70%;
    height: 45vh;
}

.child-m2{
    background-color: #272B4A;
    padding-top: 20px;
    width: 30%;
    height: 45vh;
}

.h-child{
    font-size: 33px;
    color:white;
    font-weight:bold;
}
table{
    width: 100%;
    border-collapse: collapse;
    color: white;
    box-sizing: border-box;
   
  
}
th,td{
    padding: 10px;
    text-align: left;
    border-bottom: 3px solid #2f3457;
}
.div-table{
    
    margin: 30px;
}

.child-m2{
   
}
.flex-for-circle{
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;margin-top: 20px;
    }
    .circle{
    
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        margin-top: 20px;
        position: relative;
        height: 250px;
        width: 250px;
        border-radius: 50%;
        background:conic-gradient(crimson calc(var(--progress)*3.6deg) ,#ebebeb 0deg);
        animation: progrees 2s forwards;
        
       
    }
    @property --progress{
        syntax: '<number>';
        initial-value: 0;
        inherits: false;
    }
    
    .circle::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 200px;
        height: 200px;
        background-color: white;
        border-radius: 50%;
        transform: translate(-50%,-50%);
        
    }
    .circle span{
        font-size: 3rem;
        z-index: 1;
    }
    @keyframes progrees{
        0%{
            --progress:0;
        }
        100%{
            --progress:70;
        }
    }

